@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/inter-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/inter-700.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/inter-900.woff2") format("woff2");
  font-display: swap;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "Inter", "Arial", sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: #2d3440;
  min-width: 1366px;
  margin: 0 auto;
}

.pink {
  background-color: #feafc3;
}


.blue {
  background-color: rgba(105, 169, 255, 1);
}

.yellow {
  background-color: rgba(252, 200, 80, 1);
}


.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  margin: 0 auto;
  width: 1170px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.navigation {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 22px 0 26px;
}

.navigation-logo {
  margin-right: 16px;
  display: block;
}

.navigation-logo:hover,
.navigation-logo:active {
  opacity: 0.5;
}

.navigation-logo:focus {
  outline: 2px solid rgba(45, 52, 64, 1);
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  max-width: 527px;
  margin: 0;
  padding: 0;
}

.navigation-item-popover {
  position: relative;
}

.navigation-link {
  display: block;
  text-decoration: none;
  padding: 8px 16px;
  color: inherit;
  line-height: 20px;
  border: 2px transparent;
  transition: 0.3s ease-in;
}

.navigation-link.current {
  background-color: rgba(255, 74, 120, 1);
  padding: 8px 16px;
  color: #fcfcfc;
  border-radius: 30px;
  z-index: 2;
}


.navigation-link-current {
  background-color: rgba(255, 74, 120, 1);
  border-radius: 30px;
  color: #fcfcfc;
}

.navigation-link:hover {
  background-color: rgba(252, 252, 252, 0.5);
  border-radius: 30px;
  color: #2d3440;
}

.navigation-link:active {
  background-color: rgba(252, 252, 252, 1);
  border-radius: 30px;
  color: rgba(45, 52, 64, 1);
}

.navigation-link:focus-visible {
  background-color: rgba(252, 252, 252, 0.5);
  border-radius: 30px;
  box-shadow: inset 0 0 0 2px rgba(45, 52, 64, 1);
  outline: none;
  color: #2d3440;
}

.navigation-item-popover:focus-within .catalog-popover {
  display: block;
}

.navigation-item-popover:hover .catalog-popover {
  display: block;
}

/* catalog-popover */

.catalog-popover {
  position: absolute;
  width: 135px;
  background-color: #fcfcfc;
  border-radius: 4px;
  box-shadow: 0 8px 16px 0 rgba(45, 52, 64, 0.12);
  padding: 8px 0 8px 0;
  top: 100%;
  margin-top: 8px;
  left: 0;
  display: none;
  z-index: 1;
}

.catalog-popover.active {
  display: block;
}


.catalog-popover::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 60px;
  background-color: transparent;
  left: 0;
  top: -9px;
  z-index: -1;
}


.catalog-popover-list {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.catalog-popover-link {
  display: block;
  text-decoration: none;
  font-size: 14px;
  line-height: 20px;
  color: inherit;
  padding: 6px 0 6px 16px;
}

.catalog-popover-link.current {
  background-color: rgba(255, 74, 120, 1);
}


.catalog-popover-item:first-child .catalog-popover-link:hover,
.catalog-popover-item:first-child .catalog-popover-link:active {
  opacity: 0.5;
}


.catalog-popover-item:not(:first-child) .catalog-popover-link:hover {
  background-color: rgba(255, 203, 216, 1);
}

.catalog-popover-item:not(:first-child) .catalog-popover-link:active {
  background-color: rgba(255, 119, 153, 1);
}

.catalog-popover-link:focus-visible {
  outline: 2px solid rgba(45, 52, 64, 1);
}

.catalog-popover-link.current {
  background-color: rgba(255, 74, 120, 1);
}


.catalog-popover-item:first-child .catalog-popover-link {
  padding: 8px 0 12px 16px;
  font-weight: 700;
  margin-bottom: 4px;
}

.catalog-popover-link-new {
  position: relative;
}

.catalog-popover-link-new::before {
  position: absolute;
  content: "";
  width: 103px;
  min-height: 1px;
  background-color: rgba(185, 185, 185, 1);
  left: 16px;
  right: 16px;
  top: 100%;
}


.navigation-user {
  max-width: 450px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-left: auto;
}

.navigation-user-item:not(:last-child) {
  margin-right: 17px;
}

.navigation-user-link:hover {
  background-color: rgba(252, 252, 252, 0.5);
  border-radius: 30px;
}

.navigation-user-link:active {
  background-color: rgba(252, 252, 252, 1);
  border-radius: 30px;
}

.navigation-user-link:focus-visible {
  background-color: rgba(252, 252, 252, 0.5);
  border-radius: 30px;
  box-shadow: inset 0 0 0 2px rgba(45, 52, 64, 1);
  outline: none;
}


.navigation-user-link {
  display: block;
  text-decoration: none;
  color: inherit;
  font-size: 14px;
  line-height: 20px;
  transition: 0.3s ease-in;
}

.navigation-contacts {
  line-height: 20px;
  font-weight: 700;
  font-style: normal;
  text-decoration: none;
  color: inherit;
}

.navigation-contacts:hover,
.navigation-contacts:active,
.contacts-phone:hover,
.contacts-phone:active {
  opacity: 0.5;
}

.navigation-contacts:focus,
.contacts-phone:focus {
  outline: 2px solid rgba(45, 52, 64, 1);
}

.navigation-user-link-search {
  position: relative;
  min-width: 32px;
  min-height: 32px;
  background-color: rgba(252, 252, 252, 0.3);
  border-radius: 30px;
  color: #000000;
  z-index: 3;
}

.navigation-user-search {
  position: relative;
}

.navigation-user-search:focus-within .search-popover {
  display: block;
}

.navigation-user-search:hover .search-popover {
  display: block;
}

.search {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

/* search-popover */

.search-popover {
  position: absolute;
  top: 100%;
  right: 0;
  margin-top: 8px;
  background-color: #fcfcfc;
  border-radius: 4px;
  width: 356px;
  padding: 24px 16px;
  display: none;
  z-index: 2;
  box-shadow: 0 8px 16px 0 rgba(45, 52, 64, 0.12);
}

.search-popover.active {
  display: block;
}

.search-popover::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 60px;
  background-color: transparent;
  left: 0;
  top: -10px;
  z-index: -1;
}

.form-search-popover {
  position: relative;
}

.input-search-popover {
  width: 100%;
  padding: 14px 16px;
  box-shadow: 0 0 0 1px rgba(185, 185, 185, 1);
  border-radius: 4px;
  font-size: 16px;
  font-family: inherit;
  line-height: 20px;
  border: none;
}

.input-fix:hover {
  box-shadow: 0 0 0 1px rgba(45, 52, 64, 1);
  color: rgba(45, 52, 64, 1);
}

.input-fix:focus {
  box-shadow: 0 0 0 2px rgba(45, 52, 64, 1);
  color: rgba(45, 52, 64, 1);
  outline: none;
}

.input-fix:disabled {
  pointer-events: none;
  background-color: rgba(231, 231, 231, 1);
  box-shadow: 0 0 0 1px rgba(185, 185, 185, 1);
  color: rgba(45, 52, 64, 1);
}

.input-fix:disabled {
  pointer-events: none;
  background-color: rgba(231, 231, 231, 1);
  box-shadow: 0 0 0 1px rgba(185, 185, 185, 1);
  color: rgba(45, 52, 64, 1);
}

/* .input-fix:disabled:hover::placeholder {
    pointer-events: none;
  background-color: rgba(231, 231, 231, 1);
  box-shadow: 0 0 0 1px rgba(185, 185, 185, 1);
  color: rgba(45, 52, 64, 1);
} */

.input-fix.error {
  outline: 1px solid rgba(234, 84, 84, 1);
  box-shadow: none;
}

.input-fix.error:hover {
  outline: 2px solid rgba(234, 84, 84, 1);
  box-shadow: none;
}

.input-search-popover::placeholder {
  color: rgba(185, 185, 185, 1);
}

.search-popover-reset {
  position: absolute;
  right: 13px;
  top: 16px;
  opacity: 0;
  width: 16px;
  height: 16px;
  border: none;
  background-color: transparent;
}

.search-popover-reset-icon {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

.input-search-popover:not(:placeholder-shown) ~ .search-popover-reset {
  opacity: 0.4;
}

.navigation-user-item-exit {
  position: relative;
}

.navigation-user-item-exit:focus-within .exit-popover {
  display: block;
}

.navigation-user-item-exit:hover .exit-popover {
  display: block;
}

.navigation-user-link-exit,
.navigation-user-link-basket {
  padding: 5px 16px 6px 38px;
  background-color: rgba(252, 252, 252, 0.3);
  border-radius: 30px;
}

.navigation-user-link-basket {
  position: relative;
  z-index: 3;
}

.navigation-user-link-exit {
  position: relative;
  z-index: 5;
}


.exit {
  position: absolute;
  margin-right: 8px;
  top: 50%;
  transform: translateY(-50%);
  left: 18px;
}

/* exit-popover */

.exit-popover {
  position: absolute;
  width: 420px;
  background-color: #fcfcfc;
  border-radius: 4px;
  padding: 48px 48px 52px;
  right: 0;
  top: 100%;
  margin-top: 8px;
  display: none;
  z-index: 4;
  box-shadow: 0 15px 40px 0 rgba(45, 52, 64, 0.12);
}

.exit-popover.active {
  display: block;
}

.exit-popover::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 60px;
  background-color: transparent;
  left: 0;
  top: -10px;
  z-index: -1;
}

.exit-popover-wrapper:not(:last-child) {
  margin-bottom: 16px;
}

.exit-popover-wrapper:nth-child(2) {
  margin-bottom: 32px;
}

.exit-popover-title {
  margin: 0 0 32px 0;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
}

.exit-popover-input {
  width: 100%;
  box-shadow: 0 0 0 1px rgba(185, 185, 185, 1);
  border: none;
  border-radius: 4px;
  padding: 14px 16px;
  font-family: inherit;
  font-size: inherit;
  line-height: 20px;
  color: rgba(45, 52, 64, 1);
}

.exit-button {
  background-color: rgba(255, 47, 100, 1);
  border-radius: 26px;
  color: #fcfcfc;
  font-size: inherit;
  line-height: 20px;
  font-weight: 700;
  box-shadow: 0 0 0 4px rgba(255, 47, 100, 0.3),
    0 4px 12px 0 rgba(45, 52, 64, 0.1);
  border: none;
}

.exit-button:hover {
  box-shadow: 0 0 0 4px rgba(255, 47, 100, 1),
    0 4px 12px 0 rgba(45, 52, 64, 0.1);
  background-color: rgba(252, 252, 252, 0.3);
  color: rgba(45, 52, 64, 1);
}

.exit-button:active {
  box-shadow: 0 0 0 2px rgba(45, 52, 64, 1),
    0 4px 12px 0 rgba(45, 52, 64, 0.1);
  background-color: rgba(254, 175, 195, 1);
  color: rgba(252, 252, 252, 1);
}

.exit-button:focus-visible {
  box-shadow: 0 0 0 2px rgba(45, 52, 64, 1),
    0 4px 12px 0 rgba(45, 52, 64, 0.1);
  background-color: rgba(255, 47, 100, 1);
  color: rgba(252, 252, 252, 1);
  outline: none;
}

.exit-button:disabled {
  background-color: rgba(231, 231, 231, 1);
  color: rgba(185, 185, 185, 1);
  pointer-events: none;
}

.exit-popover-container {
  display: grid;
  grid-template-columns: 113px 1fr;
  column-gap: 23px;
  align-items: center;
}

.exit-popover-link-container {
  display: flex;
  flex-direction: column;
}

.exit-popover-link {
  position: relative;
  display: block;
  text-decoration: none;
  color: inherit;
  align-self: flex-start;
  font-size: 14px;
  line-height: 20px;
}

.exit-popover-link:hover,
.exit-popover-link:active {
  opacity: 0.5;
}

.exit-popover-link:focus {
  outline: 2px solid rgba(45, 52, 64, 1);
}


.exit-popover-link::after {
  position: absolute;
  content: "";
  left: 0;
  right: 0;
  bottom: 0;
  height: 1px;
  background-color: rgba(45, 52, 64, 1);
}


.exit-popover-link:first-child {
  margin-bottom: 4px;
}

/* .exit-popover.active {
  display: block;
} */

.basket {
  position: absolute;
  margin-right: 8px;
  top: 50%;
  transform: translateY(-50%);
  left: 18px;
}

.navigation-user-item-basket {
  position: relative;
}

.navigation-user-item-basket:focus-within .basket-popover-products {
  display: block;
}

.navigation-user-item-basket:hover .basket-popover-products {
  display: block;
}

/* basket-popover-products */

.basket-popover-products {
  position: absolute;
  right: 0;
  background-color: #fcfcfc;
  width: 441px;
  padding: 48px;
  top: 100%;
  margin-top: 8px;
  border-radius: 4px;
  box-shadow: 0 15px 40px 0 rgba(45, 52, 64, 0.12);
  z-index: 4;
  display: none;
}

.basket-popover-products.active {
  display: block;
}

.basket-popover-products::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 60px;
  background-color: transparent;
  left: 0;
  top: -10px;
  z-index: -1;
}

.basket-popover-products-title {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  margin: 0 0 32px 0;
}

.basket-popover-products-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.basket-popover-products-item {
  display: flex;
  align-items: center;
}

.basket-popover-products-item:not(:last-child) {
  margin-bottom: 24px;
}

.basket-popover-products-item:last-child {
  margin-bottom: 32px;
  padding-bottom: 32px;
  border-bottom: 1px solid rgba(231, 231, 231, 1);
}

.basket-popover-products-link {
  text-decoration: none;
  display: flex;
  color: #2d3440;
  align-items: center;
}

.basket-popover-products-link:hover,
.basket-popover-products-link:active {
  opacity: 0.5;
}

.basket-popover-products-link:focus {
  outline: 2px solid rgba(45, 52, 64, 1);
}

.basket-popover-products-image {
  margin-right: 16px;
}

.popover-image {
  width: 46px;
  height: 46px;
  object-fit: cover;
  display: block;
}

.basket-popover-products-wrapper {
  display: flex;
  flex-direction: column;
  margin-right: 83px;
}

.basket-popover-products-wrapper-bubble {
  margin-right: 72px;
}

.popover-products-text {
  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
  margin-bottom: 4px;
}

.popover-products-description-price {
  font-size: 14px;
  line-height: 20px;
  color: rgba(185, 185, 185, 1);
}

.popover-products-price {
  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
}

.basket-popover-products-button {
  width: 16px;
  height: 16px;
  border: none;
  background-color: transparent;
  position: relative;
  margin-left: auto;
  display: flex;
  padding: 0;
}

.basket-popover-products-button:hover,
.basket-popover-products-button:active {
  opacity: 0.5;
}

.basket-popover-products-button:focus {
  outline: 2px solid rgba(45, 52, 64, 1);
}

.basket-popover-products-icon {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

.popover-products-container {
  display: grid;
  grid-template-columns: 1fr 147px;
  align-items: center;
}

.basket-popover-products-design {
  background-color: #ff2f64;
  color: #fcfcfc;
  font-size: 16px;
  font-family: "Inter", "Arial", sans-serif;
  line-height: 20px;
  font-weight: 700;
  border-radius: 26px;
  box-shadow: 0 0 0 4px rgba(255, 47, 100, 0.3),
    0 4px 12px 0 rgba(45, 52, 64, 0.1);
  border: none;
}

.basket-popover-products-design:hover {
  box-shadow: 0 0 0 4px rgba(255, 47, 100, 1),
    0 4px 12px 0 rgba(45, 52, 64, 0.1);
  background-color: rgba(252, 252, 252, 0.3);
  color: rgba(45, 52, 64, 1);
}

.basket-popover-products-design:active {
  box-shadow: 0 0 0 2px rgba(45, 52, 64, 1),
    0 4px 12px 0 rgba(45, 52, 64, 0.1);
  background-color: rgba(254, 175, 195, 1);
  color: rgba(252, 252, 252, 1);
}

.basket-popover-products-design:focus-visible {
  box-shadow: 0 0 0 2px rgba(45, 52, 64, 1),
    0 4px 12px 0 rgba(45, 52, 64, 0.1);
  background-color: rgba(255, 47, 100, 1);
  color: rgba(252, 252, 252, 1);
  outline: none;
}

.basket-popover-products-design:disabled {
  background-color: rgba(231, 231, 231, 1);
  color: rgba(185, 185, 185, 1);
  pointer-events: none;
}

.basket-popover-products-total-price {
  font-size: 18px;
  font-weight: 700;
  line-height: 22px;
  justify-self: end;
}

/* basket-popover-empty */

.basket-popover-empty {
  position: absolute;
  background-color: #fcfcfc;
  width: 288px;
  padding: 48px 0;
  right: 0;
  top: 100%;
  margin-top: 8px;
  border-radius: 4px;
  box-shadow: 0 15px 40px 0 rgba(45, 52, 64, 0.12);
  display: none;
  z-index: 1;
}

.basket-popover-empty.active {
  display: block;
}

.basket-popover-empty::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 60px;
  background-color: transparent;
  left: 0;
  top: -18px;
  z-index: -1;
}

.basket-popover-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  text-align: center;
}

/* main */

.main-container {
  flex-grow: 1;
}

/* slider */

.slider {
  position: relative;
  margin-bottom: 81px;
}

.slider-list {
  display: grid;
  grid-template-columns: 822px 100px 100px;
  column-gap: 39px;
  align-items: center;
  margin: 0 0 2px;
  padding: 14px 0 0 70px;
  list-style-type: none;
}

.slider-active {
  grid-column: 1/2;
  grid-row: 1/2;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}


.slider-item {
  grid-row: 1/2;
}


.slider-active + .slider-item {
  grid-column: 2/3;
}


.slider-container {
  display: none;
  max-width: 472px;
  margin-right: 23px;
  padding-top: 6px;
}

.slider-active .slider-container {
  display: block;
}

.slider-item:not(:first-child) {
  display: flex;
  padding-top: 11px;
}


.slider-title {
  font-size: 36px;
  font-weight: 900;
  line-height: 46px;
  margin: 0 0 25px 0;
  max-width: 470px;
}

.slider-text {
  font-size: 18px;
  line-height: 24px;
  margin: 0 0 48px;
  max-width: 414px;
}

.slider-link {
  text-decoration: none;
  color: inherit;
  font-weight: 700;
  line-height: 20px;
  background-color: #fcfcfc;
  border-radius: 26px;
  box-shadow: 0 0 0 4px rgba(252, 252, 252, 0.4),
    0 4px 12px 0 rgba(45, 52, 64, 0.1);
}

.button {
  display: inline-block;
  padding: 12px 32px;
  text-align: center;
  cursor: pointer;
  transition: 0.3s;
}

.slider-link:hover {
  background-color: rgba(252, 252, 252, 0.4);
  box-shadow: 0 0 0 4px rgba(252, 252, 252, 1),
    0 4px 12px 0 rgba(45, 52, 64, 0.1);
}

.slider-link:active {
  background-color: rgba(252, 252, 252, 1);
  box-shadow: 0 0 0 2px rgba(45, 52, 64, 1),
    0 4px 12px 0 rgba(45, 52, 64, 0.1);
}

.slider-link:focus-visible {
  background-color: rgba(252, 252, 252, 0.5);
  box-shadow: 0 0 0 2px rgba(45, 52, 64, 1),
    0 4px 12px 0 rgba(45, 52, 64, 0.1);
  outline: none;
}


.slider-link[aria-disabled="true"] {
  background-color: rgba(231, 231, 231, 1);
  color: rgba(185, 185, 185, 1);
  pointer-events: none;
}


.slider-container-img {
  position: relative;
  z-index: 1;
  width: 100px;
  height: 150px;
}

.slider-active .slider-container-img {
  position: relative;
  z-index: 1;
  width: 306px;
  height: 507px;
}

.slider-item:not(.slider-active) .slider-container-img {
  opacity: 0.4;
}

.slider-container-img::after {
  content: "";
  position: absolute;
  width: 100px;
  height: 100px;
  left: 0;
  top: 24px;
  background-color: rgba(255, 203, 216, 1);
  border-radius: 50%;
  z-index: -1;
}

.slider-active .slider-container-img::after {
  width: 312px;
  height: 312px;
  top: 102px;
}

.slider-container-img .slider-image {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.blue .slider-container-img::after {
  background-color: rgba(159, 200, 255, 1);
}

.yellow .slider-container-img::after {
  background-color: rgba(252, 220, 146, 1);
}

.slider-controls {
  display: flex;
  position: absolute;
  justify-content: space-between;
  width: 346px;
  right: 281px;
  top: 50%;
  transform: translateY(-18px);
  z-index: 2;
}

.slider-controls-button {
  position: relative;
  display: flex;
  width: 33px;
  height: 33px;
  background-color: rgba(252, 252, 252, 0.3);
  box-shadow: 0 0 0 2px rgba(252, 252, 252, 1);
  border: none;
  padding: 0;
  border-radius: 50%;
  color: #fcfcfc;
  transition: 0.3s ease-in;
}

.slider-controls-button:hover {
  box-shadow: 0 0 0 2px rgba(252, 252, 252, 1);
  background-color: #fcfcfc;
  color: rgba(45, 52, 64, 1);
}

.slider-controls-button:active {
  background-color: rgba(252, 252, 252, 0.5);
  color: rgba(45, 52, 64, 1);
  box-shadow: 0 0 0 2px rgba(252, 252, 252, 0.5);
}

.slider-controls-button:focus-visible {
  background-color: rgba(252, 252, 252, 0.3);
  color: rgba(45, 52, 64, 1);
  box-shadow: 0 0 0 2px rgba(45, 52, 64, 1);
  outline: none;
}

.slider-controls-button:disabled {
  background-color: rgba(231, 231, 231, 1);
  color: rgba(185, 185, 185, 0.4);
  pointer-events: none;
}


.slider-controls-icon-prev {
  position: absolute;
  top: 0;
  left: 12px;
  right: 17px;
  bottom: 0;
  margin-top: auto;
  margin-bottom: auto;
}

.slider-controls-icon-next {
  position: absolute;
  top: 0;
  left: 15px;
  right: 15px;
  bottom: 0;
  margin-top: auto;
  margin-bottom: auto;
}

.slider-footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.slider-pagination {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.slider-pagination-list:not(:last-child) {
  margin-right: 8px;
}


.slider-pagination-button {
  display: flex;
  width: 12px;
  height: 12px;
  background-color: rgba(252, 252, 252, 0.3);
  cursor: pointer;
  padding: 0;
  border: transparent;
  border-radius: 50%;
  transition: 0.3s ease-in;
}


.slider-pagination-button-current {
  background-color: #fcfcfc;
}

.slider-pagination-button:hover:not(.slider-pagination-button-current) {
  border: 1px solid #fcfcfc;
}

.slider-pagination-button:active:not(.slider-pagination-button-current) {
  background-color: rgba(252, 252, 252, 0.5);
  border: none;
}

.slider-pagination-button:focus-visible {
  outline: none;
}

.slider-pagination-button:focus-visible:not(.slider-pagination-button-current) {
  border: 1px solid rgba(45, 52, 64, 1);
}


.footer-social-list {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.footer-social-item:not(:last-child) {
  margin-right: 16px;
}

.footer-social-link {
  display: flex;
  box-shadow: 0 0 0 2px rgba(252, 252, 252, 0.3);
  border-radius: 50%;
  min-width: 24px;
  min-height: 24px;
  position: relative;
  transition: 0.3s ease-in;
}

.footer-social-link:hover::after {
  content: "";
  width: 15px;
  height: 15px;
  background-color: rgba(45, 52, 64, 1);
  left: 4px;
  top: 4px;
  z-index: -1;
  position: absolute;
}

.footer-social-link:active::after {
  opacity: 50%;
}

.footer-social-link:active {
  opacity: 50%;
}

.footer-social-link:focus-visible {
  box-shadow: 0 0 0 2px rgba(45, 52, 64, 1);
  outline: none;
  color: rgba(45, 52, 64, 1);
}

.footer-social-link:focus-visible::after {
  content: "";
  width: 15px;
  height: 15px;
  background-color: rgba(45, 52, 64, 1);
  left: 4px;
  top: 4px;
  z-index: -1;
  position: absolute;
}


/* order */

.order {
  margin-bottom: 81px;
}

.title {
  font-size: 32px;
  font-weight: 900;
  line-height: 46px;
  text-align: center;
}

.order-title {
  max-width: 434px;
  margin: 0 auto;
  margin-bottom: 55px;
}

.order-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 30px;
}

.raspberry,
.marshmello {
  background-color: rgba(255, 119, 153, 1);
  border-radius: 16px;
  padding: 36px 36px 35px;
  display: flex;
  flex-direction: column;
}

.raspberry {
  background-image: url("../images/raspberry.png");
  background-repeat: no-repeat;
  background-position: right bottom;
  background-size: 219px 268px;
}

.marshmello {
  background-image: url("../images/marshmallow.png");
  background-repeat: no-repeat;
  background-position: right bottom;
}

.raspberry-title,
.marshmello-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  margin: 0 0 28px;
  max-width: 328px;
}

.raspberry-text,
.marshmello-text {
  max-width: 323px;
  margin: 0 0 28px;
  font-size: 16px;
}


.order-link {
  background-color: rgba(252, 252, 252, 1);
  border-radius: 26px;
  text-decoration: none;
  color: inherit;
  line-height: 20px;
  font-weight: 700;
  box-shadow: 0 0 0 4px rgba(252, 252, 252, 0.4),
    0 4px 12px 0 rgba(45, 52, 64, 0.1);
  margin-top: auto;
  max-width: 176px;
}

.order-link:hover {
  background-color: rgba(252, 252, 252, 0.4);
  box-shadow: 0 0 0 4px rgba(252, 252, 252, 1),
    0 4px 12px 0 rgba(45, 52, 64, 0.1);
}

.order-link:active {
  background-color: rgba(252, 252, 252, 1);
  box-shadow: 0 0 0 2px rgba(45, 52, 64, 1),
    0 4px 12px 0 rgba(45, 52, 64, 0.1);
}

.order-link:focus-visible {
  background-color: rgba(252, 252, 252, 0.5);
  box-shadow: 0 0 0 2px rgba(45, 52, 64, 1),
    0 4px 12px 0 rgba(45, 52, 64, 0.1);
  outline: none;
}


/* popular */

.popular {
  margin-bottom: 80px;
}

.popular-title {
  max-width: 527px;
  margin: 0 auto;
  margin-bottom: 107px;
}

.popular-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(4, 270px);
  gap: 91px 30px;
  margin-bottom: 16px;
}

.popular-item {
  padding: 0 40px 24px;
  background-color: rgba(252, 252, 252, 1);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  }


.image-container {
  display: flex;
  justify-content: center;
  width: 100%;
  object-fit: cover;
  margin: 0;
  position: relative;
  margin-top: -51px;
}

.popular-image {
  border-radius: 50%;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  margin-bottom: 16px;
  transition: 1.1s;
}

.image-container:hover .popular-image {
  transform: scale(1.07);
}

.popular-item-title {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  color: rgba(45, 52, 64, 1);
  margin: 0 auto;
  margin-bottom: 9px;
}

.popular-item-text {
  margin: 0 0 16px;
  color: #565c66;
  text-align: center;
}

.popular-container {
  display: grid;
  grid-template-columns: 95px 35px;
  column-gap: 60px;
  align-items: center;
}

.popular-price {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  color: rgba(45, 52, 64, 1);
}

.popular-button {
  position: relative;
  min-width: 32px;
  min-height: 32px;
  border-radius: 50%;
  background-color: rgba(255, 47, 100, 1);
  transition: 0.3s;
  color: #fcfcfc;
  padding: 0;
  border: 2px transparent;
  cursor: pointer;
}

.popular-button:hover {
  background-color: rgba(252, 252, 252, 0.3);
  border: 2px solid rgba(255, 47, 100, 1);
  color: #000000;
}

.popular-button:active {
  background-color: rgba(255, 203, 216, 1);
  border: 2px solid rgba(255, 47, 100, 1);
  color: #000000;
}

.popular-button:focus-visible {
  background-color: rgba(255, 47, 100, 1);
  border: 2px solid rgba(45, 52, 64, 1);
  color: rgba(252, 252, 252, 1);
  outline: none;
}

.popular-button:disabled {
  background-color: rgba(185, 185, 185, 1);
  border: 2px solid rgba(185, 185, 185, 1);
  color: rgba(86, 92, 102, 1);
  pointer-events: none;
}

.popular-icon {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
}

/* about */

.about {
  display: flex;
  background-image: url("../images/wafer/wafer.png");
  background-position: center;
  background-size: cover;
  padding: 24px;
  border-radius: 16px;
  margin-bottom: 80px;
}

.about-container {
  background-color: rgba(255, 255, 255, 1);
  padding: 56px 40px;
  border-radius: 16px;
}

.about-title {
  margin: 0;
  margin-bottom: 56px;
}

.advantages {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 31px;
  row-gap: 40px;
}

.advantages-text {
  margin: 0;
  padding-left: 64px;
  color: #565c66;
  position: relative;
}

.advantages-circle {
  position: absolute;
  width: 48px;
  height: 48px;
  border: 2px solid rgba(45, 52, 64, 1);
  border-radius: 50%;
  top: 0;
  left: 0;
  padding: 0;
}

.advantages-icon {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
}

.column {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 30px;
  margin-bottom: 80px;
}

.blog {
  display: flex;
  background-image: url("../images/blog.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 16px;
}

.blog-link {
  width: 100%;
  text-decoration: none;
  display: block;
  padding: 33px 0 67px 32px;
}

.blog-link:hover,
.blog-link:active {
  opacity: 0.7;
}

.blog-link:focus {
  outline: 2px solid rgba(45, 52, 64, 1);
}


.blog-title {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: rgba(86, 92, 102, 1);
  margin: 0;
  margin-bottom: 12px;
  max-width: 303px;
}

.blog-text {
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  margin: 0;
  color: rgba(45, 52, 64, 1);
  max-width: 303px;
}

.subscription-button {
  font-family: "Inter", "Arial", sans-serif;
  font-weight: 700;
  font-size: 16px;
  padding: 12px 32px;
  box-shadow: 0 0 0 4px rgba(255, 47, 100, 0.3),
    0 4px 12px 0 rgba(45, 52, 64, 0.1);
  background-color: #ff2f64;
  border-radius: 26px;
  text-decoration: none;
  color: rgba(252, 252, 252, 1);
  line-height: 20px;
  border: none;
}

.subscription-button:hover {
  box-shadow: 0 0 0 4px rgba(255, 47, 100, 1),
    0 4px 12px 0 rgba(45, 52, 64, 0.1);
  background-color: rgba(252, 252, 252, 0.3);
  color: rgba(45, 52, 64, 1);
}

.subscription-button:active {
  box-shadow: 0 0 0 2px rgba(45, 52, 64, 1),
    0 4px 12px 0 rgba(45, 52, 64, 0.1);
  background-color: rgba(254, 175, 195, 1);
  color: rgba(252, 252, 252, 1);
}

.subscription-button:focus-visible {
  box-shadow: 0 0 0 2px rgba(45, 52, 64, 1),
    0 4px 12px 0 rgba(45, 52, 64, 0.1);
  background-color: rgba(255, 47, 100, 1);
  color: rgba(252, 252, 252, 1);
  outline: none;
}

.subscription-button:disabled {
  background-color: rgba(185, 185, 185, 1);
  color: rgba(86, 92, 102, 1);
  box-shadow: 0 0 0 4px rgba(185, 185, 185, 0.3);
  pointer-events: none;
}


.subscription {
  display: flex;
  padding: 6px;
  background-color: #edf1f5;
  border-radius: 16px;
  background-image: url("../images/subscription.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.subscription-wrapper {
  background-color: rgba(255, 255, 255, 1);
  padding: 27px;
  border-radius: 16px;
  margin: auto;
  height: 100%;
}

.subscription-text {
  margin: 0;
  margin-bottom: 42px;
  color: rgba(86, 92, 102, 1);
  font-size: 16px;
}

.subscription-form {
  display: grid;
  grid-template-columns: minmax(300px, 332px) auto;
  column-gap: 17px;
}

.subscription-form-input {
  flex-grow: 1;
  border-radius: 4px;
  padding: 14px 16px;
  box-shadow: 0 0 0 1px rgba(185, 185, 185, 1);
  border: none;
  font-size: 16px;
  font-family: "Inter", "Arial", sans-serif;
  font-weight: 400;
  line-height: 20px;
}

.subscription-form-input::placeholder {
  color: #b9b9b9;
}

/* delivery */


.delivery {
  display: grid;
  grid-template-columns: 1fr 500px;
  column-gap: 135px;
  align-items: center;
  background-image: url("../images/delivery.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 67px 64px 66px 100px;
  border-radius: 16px;
  margin-bottom: 80px;
}

.delivery-title {
  max-width: 356px;
  margin: 7px 0 24px -13px;
}

.delivery-text {
  max-width: 371px;
  margin: 0;
  color: rgba(86, 92, 102, 1);
  font-size: 15px;
}

.delivery-container {
  background-color: #fcfcfc;
  padding: 41px;
  border-radius: 8px;
  box-shadow: 0 15px 40px 0 rgba(45, 52, 64, 0.12);
}

.form-text {
  margin: 0;
  margin-bottom: 32px;
  color: rgba(86, 92, 102, 1);
  font-size: 15px;
  max-width: 380px;
}

.delivery-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-container {
  display: grid;
  grid-template-columns: 117px 287px;
  column-gap: 16px;
  margin-bottom: 20px;
  align-items: end;
}

.date-wrapper,
.number-wrapper,
.adress-wrapper {
  display: flex;
  flex-direction: column;
  margin: 0;
}

.date-button {
  margin-bottom: 8px;
  display: flex;
  align-self: flex-start;
  align-items: center;
  position: relative;
}


.form-date,
.form-number,
.form-adress {
  line-height: 20px;
  font-weight: 700;
  margin: 0;
  margin-right: 4px;
}

.tooltip {
  display: flex;
  padding: 0;
  width: 12px;
  height: 12px;
  border: none;
  border-radius: 50%;
  background-color: transparent;
  outline: none;
  flex-shrink: 0;
}


.tooltip-text {
  position: absolute;
  padding: 10px 7px;
  background-color: #fcfcfc;
  color: #565c66;
  font-size: 12px;
  line-height: 16px;
  width: 162px;
  box-shadow: 0 2px 12px 0 rgba(173, 152, 143, 0.18);
  left: 115%;
  top: -9px;
  border-radius: 1px;
  border: 1px solid rgba(185, 185, 185, 1);
  display: none;
}

.tooltip-text-adress {
  position: absolute;
  padding: 10px 7px;
  background-color: #fcfcfc;
  color: #565c66;
  font-size: 12px;
  line-height: 16px;
  width: 162px;
  box-shadow: 0 2px 12px 0 rgba(173, 152, 143, 0.18);
  left: 100%;
  margin-left: 9px;
  top: -9px;
  border-radius: 1px;
  border: 1px solid rgba(185, 185, 185, 1);
  display: none;
}


.tooltip-text-adress::after {
  position: absolute;
  content: "";
  width: 10px;
  height: 10px;
  transform: rotate(-45deg);
  border-left: 1px solid rgba(185, 185, 185, 1);
  border-top: 1px solid rgba(185, 185, 185, 1);
  background-color: #fcfcfc;
  top: 14px;
  left: -6px;
}

.tooltip-text::after {
  position: absolute;
  content: "";
  width: 10px;
  height: 10px;
  transform: rotate(-45deg);
  border-left: 1px solid rgba(185, 185, 185, 1);
  border-top: 1px solid rgba(185, 185, 185, 1);
  background-color: #fcfcfc;
  top: 14px;
  left: -6px;
}

.tooltip:hover + .tooltip-text {
  display: flex;
}

.tooltip:hover + .tooltip-text-adress {
  display: flex;
}


.form-number {
  margin-bottom: 8px;
}

.form-input {
  font-family: "Inter", "Arial", sans-serif;
  padding: 13px 16px;
  border-radius: 4px;
  box-shadow: 0 0 0 1px rgba(185, 185, 185, 1);
  border: none;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
}

.form-input::placeholder {
  color: rgba(185, 185, 185, 1);
}


.form-wrapper {
  width: 100%;
  margin-bottom: 33px;
}

.form-button:hover {
  box-shadow: 0 0 0 4px rgba(255, 47, 100, 1);
  background-color: rgba(252, 252, 252, 0.3);
  color: rgba(45, 52, 64, 1);
}

.form-button:active {
  box-shadow: 0 0 0 2px rgba(45, 52, 64, 1);
  background-color: rgba(254, 175, 195, 1);
  color: rgba(252, 252, 252, 1);
}

.form-button:focus-visible {
  box-shadow: 0 0 0 2px rgba(45, 52, 64, 1);
  background-color: rgba(255, 47, 100, 1);
  color: rgba(252, 252, 252, 1);
  outline: none;
}

.form-button [aria-disabled="true"] {
  background-color: rgba(231, 231, 231, 1);
  color: rgba(185, 185, 185, 1);
  pointer-events: none;
}

/* contact */
.contact {
  background-image: url("../images/contact.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 64px 0 67px 64px;
  border-radius: 16px;
}

.contact-wrapper {
  background-color: rgba(252, 252, 252, 1);
  padding: 40px;
  box-shadow: 0 8px 16px 0 rgba(45, 52, 64, 0.12);
  max-width: 343px;
  border-radius: 8px;
}

.contact-title {
  color: #565c66;
  margin: 0 0 11px 0;
  font-weight: 400;
  font-size: 15px;
}

.contacts-address-text {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  margin: 0 0 24px 0;
  font-style: normal;
}

.contacts-phone {
  text-decoration: none;
  font-size: 19px;
  font-weight: 900;
  line-height: 24px;
  color: inherit;
}

.contacts-address-text-small {
  font-size: 13px;
  line-height: 20px;
  color: #565c66;
  margin: 0 0 32px 0;
}

.contact-link {
  box-shadow: 0 0 0 4px rgba(255, 47, 100, 0.3);
  background-color: #ff2f64;
  border-radius: 26px;
  text-decoration: none;
  line-height: 20px;
  font-weight: 700;
  color: rgba(252, 252, 252, 1);
}

.contact-link:hover {
  box-shadow: 0 0 0 4px rgba(255, 47, 100, 1);
  background-color: rgba(252, 252, 252, 0.3);
  color: rgba(45, 52, 64, 1);
}

.contact-link:active {
  box-shadow: 0 0 0 2px rgba(45, 52, 64, 1);
  background-color: rgba(254, 175, 195, 1);
  color: rgba(252, 252, 252, 1);
}

.contact-link:focus-visible {
  box-shadow: 0 0 0 2px rgba(45, 52, 64, 1);
  background-color: rgba(255, 47, 100, 1);
  color: rgba(252, 252, 252, 1);
  outline: none;
}

.contact-link [aria-disabled="true"] {
  background-color: rgba(185, 185, 185, 1);
  color: rgba(86, 92, 102, 1);
  box-shadow: 0 0 0 4px rgba(185, 185, 185, 0.3);
  pointer-events: none;
}


/* footer */

.page-footer {
  display: grid;
  grid-template-columns: 200px 1fr 193px;
  padding: 48px 14px 48px 4px;
  align-items: start;
}

.page-footer-index {
  padding-top: 42px;
}

/* .footer-social-list {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.footer-social-item:not(:last-child) {
  margin-right: 16px;
}

.footer-social-link {
  display: flex;
  box-shadow: 0 0 0 2px rgba(252, 252, 252, 0.3);
  border-radius: 50%;
  min-width: 24px;
  min-height: 24px;
  position: relative;
}

.footer-social-link:hover::after {
  content: "";
  width: 15px;
  height: 15px;
  background-color: rgba(45, 52, 64, 1);
  left: 4px;
  top: 4px;
  z-index: -1;
  position: absolute;
}

.footer-social-link:active::after {
  opacity: 50%;
}

.footer-social-link:active {
  opacity: 50%;
}

.footer-social-link:focus-visible {
  box-shadow: 0 0 0 2px rgba(45, 52, 64, 1);
  outline: none;
  color: rgba(45, 52, 64, 1);

}

.footer-social-link:focus-visible::after {
  content: "";
  width: 15px;
  height: 15px;
  background-color: rgba(45, 52, 64, 1);
  left: 4px;
  top: 4px;
  z-index: -1;
  position: absolute;
} */


.footer-menu {
  display: grid;
  justify-content: center;
}

.footer-menu-list {
  display: grid;
  grid-template-columns: 150px 206px;
  row-gap: 4px;
  list-style-type: none;
  margin: 0;
  padding: 0;
}


.footer-menu-item {
  padding-left: 24px;
}

.heart {
  background-image: url("../images/footer/heart.svg");
  background-repeat: no-repeat;
  background-size: 16px 16px;
  background-position: 0 center;
}


.footer-menu-link {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: inherit;
  text-decoration: none;
}

.footer-menu-link:hover,
.footer-menu-link:active,
.copyright-logo-small:hover,
.copyright-logo-small:active,
.copyright-link:hover,
.copyright-link:active {
  opacity: 0.5;
}

.footer-menu-link:focus,
.copyright-link:focus,
.copyright-logo-small:focus {
  outline: 2px solid rgba(45, 52, 64, 1);
}


.footer-menu-link-heart {
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
}

.copyright-link {
  display: inline-block;
  margin-bottom: 7px;
  color: rgba(45, 52, 64, 1);
}


.copyright-text {
  font-size: 12px;
  line-height: 16px;
  margin: 0;
}

.copyright-logo-small {
  text-decoration: none;
  color: inherit;
  border-bottom: 1px solid rgba(45, 52, 64, 0.5);
}

/* modal */


.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(45, 52, 64, 0.3);
  z-index: 10;
  display: none;
}

.modal-open {
  display: flex;
}

.modal {
  position: relative;
  margin: auto;
  width: 570px;
  padding: 65px 64px 62px 64px;
  border-radius: 8px;
  box-shadow: 0 15px 40px 0 rgba(45, 52, 64, 0.12);
  background-color: #fcfcfc;
}


.modal-form {
  display: flex;
  flex-direction: column;
}


.modal-close-button {
  position: absolute;
  width: 20px;
  height: 20px;
  display: flex;
  border: none;
  background-color: transparent;
  padding: 0;
  fill: rgba(0, 0, 0, 1);
  top: 32px;
  right: 32px;
  cursor: pointer;
}

.modal-close-button:hover,
.modal-close-button:active {
  opacity: 0.5;
}

.modal-close-button:focus {
  outline: 2px solid rgba(45, 52, 64, 1);
}


.modal-title {
  font-size: 24px;
  line-height: 30px;
  color: inherit;
  margin: 0 0 31px;
}

.modal-close-icon {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

.modal-field {
  margin: 0 0 16px;
}

.modal-field:last-of-type {
  margin-bottom: 27px;
}

.modal-input {
  padding: 14px 16px;
  font-size: 16px;
  line-height: 20px;
  box-shadow: 0 0 0 1px rgba(185, 185, 185, 1);
  border-radius: 4px;
  width: 100%;
  font-family: "Inter", "Arial", sans-serif;
  border: none;
}

.modal-input::placeholder {
  color: rgba(185, 185, 185, 1);
}

.modal-textarea {
  resize: none;
}

.modal .button {
  margin-left: auto;
}

.modal-input:not(::placeholder-shown) {
  color: rgba(45, 52, 64, 1);
}

/* catalog */

.page-header-catalog {
  margin-bottom: 25px;
}

.inner-header {
  margin-bottom: 39px;
}

.breadcrumbs {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 0;
  margin: 0;
  margin-bottom: 16px;
}

.breadcrumbs-item:not(:last-child) {
  margin-right: 28px;
}

.breadcrumbs-item {
  position: relative;
}

.breadcrumbs-item::before {
  content: "";
  position: absolute;
  background-image: url("../images/breadcrumbs-arrow.svg");
  width: 7px;
  height: 6px;
  background-position: center;
  background-repeat: no-repeat;
  right: -18px;
  top: 50%;
  transform: translateY(-50%);
  display: none;
}

.breadcrumbs-item:first-child::before {
  display: block;
}

.breadcrumbs-link {
  text-decoration: none;
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
  color: inherit;
}

.breadcrumbs-link-current {
  border-bottom: 1px solid rgba(45, 52, 64, 1);
}

.breadcrumbs-link:hover,
.breadcrumbs-link:active {
  opacity: 0.5;
}

.breadcrumbs-link:focus {
  outline: 2px solid rgba(45, 52, 64, 1);
}

.breadcrumbs-title {
  margin: 0;
  font-size: 32px;
  line-height: 46px;
  font-weight: 900;
}

.catalod-filter {
  margin-bottom: 94px;
}

.catalod-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.catalod-wrapper:not(:last-child) {
  margin-bottom: 16px;
}

.catalod-filter-group {
  margin: 0;
  padding: 0;
  border: none;
}

.catalod-filter-group-fill {
  margin: 0;
  padding: 0;
  list-style-type: none;
  margin-right: 16px;
  border: none;
}

.catalod-filter-group:not(:last-child) {
  margin-right: 24px;
}


.catalod-filter-title {
  margin-bottom: 8px;
  font-size: 14px;
  line-height: 20px;
  padding: 0;
  margin-left: 16px;
}


.catalod-select {
  padding: 8px 63px 8px 16px;
  background-color: rgba(252, 252, 252, 0.3);
  border-radius: 20px;
  font-size: 14px;
  line-height: 20px;
  font-family: "Inter", "Arial", sans-serif;
  border: none;
  appearance: none;
  background-image: url("../images/sort/arrow-bottom.svg");
  background-repeat: no-repeat;
  background-position: right 16px center;
  background-size: 11px 6px;
}

.catalod-select:hover {
  background-color: rgba(252, 252, 252, 0.5);
}

.catalod-select:focus {
  box-shadow: inset 0 0 0 2px rgba(252, 252, 252, 1);
  outline: none;
}

.range {
  padding: 17px 16px 17px 16px;
  background-color: rgba(252, 252, 252, 0.3);
  border-radius: 20px;
}

.range {
  max-width: 196px;
}

.range-scale {
  position: relative;
  height: 2px;
  background-color: rgba(86, 92, 102, 0.3);
  width: 164px;
}

.range-bar {
  position: absolute;
  height: 2px;
  background-color: rgba(86, 92, 102, 1);
}

.range-toggle {
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: 6px solid rgba(45, 52, 64, 1);
  background-color: rgba(252, 252, 252, 1);
  padding: 0%;
}

.range-toggle:hover {
  border: 6px solid rgba(252, 252, 252, 1);
  background-color: rgba(45, 52, 64, 1);
}

.range-toggle:active {
  border: 8px solid rgba(45, 52, 64, 1);
}

.range-toggle:focus-visible {
  border: 6px solid rgba(252, 252, 252, 1);
  background-color: rgba(45, 52, 64, 1);
  box-shadow: 0 0 0 2px rgba(45, 52, 64, 1);
  outline: none;
}

.min-toggle {
  left: -16px;
  top: 0;
  transform: translateY(-50%);
}

.max-toggle {
  right: -16px;
  top: 0;
  transform: translateY(-50%);
}


.catalod-filter-list {
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 8px 24px;
  background-color: rgba(252, 252, 252, 0.3);
  border-radius: 18px;
}

.catalod-filter-item:not(:last-child) {
  margin-right: 17px;
}

.control-checkbox {
  position: relative;
}

.control-mark {
  position: absolute;
  width: 16px;
  height: 16px;
  border: 1px solid rgba(45, 52, 64, 1);
  left: 0;
  top: 2px;
  border-radius: 50%;
}

.control-input-radio:hover + .control-mark {
  border: 1px solid #fcfcfc;
}

.control-input-radio:focus-visible + .control-mark {
  outline: 1px solid rgba(45, 52, 64, 1);
  outline-offset: 2px;
}

.control-input-radio:disabled + .control-mark {
  border: 1px solid rgba(45, 52, 64, 0.5);
}


.control-input-radio + .control-mark {
  border-radius: 50%;
}

.control-input-radio:checked + .control-mark::before {
  content: "";
  position: absolute;
  width: 6px;
  height: 6px;
  background-color: #2d3440;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  border-radius: 50%;
}

.control-input-radio:checked:hover + .control-mark::before {
  background-color: #fcfcfc;
}

.control-input-radio:checked:disabled + .control-mark::before {
  opacity: 50%;
  background-color: rgba(45, 52, 64, 0.5);
}

.control-mark-checkbox::after {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  left: 0;
  top: 2px;
  background-color: transparent;
  background-image: url("../images/checkbox.svg");
  background-repeat: no-repeat;
  background-position: -20px -20px;
}

.control-input-checkbox:hover + .control-mark-checkbox::after {
  background-position: -47px -20px;
}


.control-input-checkbox:checked + .control-mark-checkbox::after {
  background-position: -20px -56px;
}

.control-input-checkbox:checked:hover + .control-mark-checkbox::after {
  background-position: -47px -56px;
}


.control-input-checkbox:focus-visible + .control-mark-checkbox::after {
  outline-offset: 2px;
  outline: 1px solid rgba(45, 52, 64, 1);

}

.control-input-checkbox:disabled + .control-mark-checkbox::after {
  background-position: -74px -20px;
}

.control-input-checkbox:checked:disabled + .control-mark-checkbox::after {
  background-position: -74px -56px;
}

.control-label {
  font-size: 14px;
  padding-left: 24px;
  line-height: 20px;
}


.control-label-checkbox {
  font-size: 14px;
  padding-left: 24px;
  line-height: 20px;
}

.catalod-filter-button {
  align-self: flex-end;
}

.catalod-filter-button {
  box-shadow: 0 0 0 2px rgba(252, 252, 252, 1);
  border: none;
  background-color: rgba(252, 252, 252, 0.3);
  border-radius: 20px;
  text-decoration: none;
  color: inherit;
  font-size: 14px;
  font-family: "Inter", "Arial", sans-serif;
  line-height: 20px;
  font-weight: 700;
  padding: 9px 52px 10px;
}

.catalod-filter-button:hover {
  background-color: rgba(252, 252, 252, 1);
  box-shadow: 0 0 0 2px rgba(252, 252, 252, 0.3);
}

.catalod-filter-button:active {
  background-color: rgba(252, 252, 252, 0.5);
  box-shadow: none;
}

.catalod-filter-button:focus-visible {
  background-color: rgba(252, 252, 252, 0.3);
  box-shadow: 0 0 0 2px rgba(45, 52, 64, 1);
  outline: none;
}

.catalod-filter-button:disabled {
  opacity: 0.4;
  pointer-events: none;
}


.popular-catalog {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: grid;
}

.popular-catalog-list {
  margin-bottom: 16px;
}

.popular-wrapper {
  display: grid;
  grid-template-columns: 488px 179px 1fr;
  align-items: center;
  justify-content: end;
  padding: 41px 0 79px;
  border-bottom: 1px solid rgba(252, 252, 252, 0.3);
}

.popular-button-pagination {
  border: none;
  background-color: rgba(252, 252, 252, 1);
  border-radius: 26px;
  text-decoration: none;
  color: inherit;
  font-size: 16px;
  font-family: "Inter", "Arial", sans-serif;
  line-height: 20px;
  font-weight: 700;
  grid-column: 2/3;
  box-shadow: 0 0 0 4px rgb(252 252 252 / 40%),
    0 4px 12px 0 rgb(45 52 64 / 10%);
  transition: 0.3s ease-in;
}

.popular-button-pagination:hover {
  background-color: rgba(252, 252, 252, 0.4);
  box-shadow: 0 0 0 4px rgb(252 252 252),
    0 4px 12px 0 rgb(45 52 64 / 10%);
}

.popular-button-pagination:active {
  background-color: rgba(252, 252, 252, 1);
  box-shadow: 0 0 0 2px rgb(45 52 64),
    0 4px 12px 0 rgb(45 52 64 / 10%);
}

.popular-button-pagination:focus-visible {
  background-color: rgba(252, 252, 252, 0.5);
  box-shadow: 0 0 0 2px rgb(45 52 64),
    0 4px 12px 0 rgb(45 52 64 / 10%);
  outline: none;
}

.popular-button-pagination:disabled {
  background-color: rgba(231, 231, 231, 1);
  color: rgba(185, 185, 185, 0.4);
  pointer-events: none;
}


.pagination-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-end;
}

.pagination-link-button {
  display: flex;
  min-width: 16px;
  min-height: 16px;
}

.pagination-link-button:hover,
.pagination-link-button:active {
  opacity: 0.5;
}

.pagination-link-button:focus {
  outline: 2px solid rgba(45, 52, 64, 1);
}


.pagination-prev {
  margin-right: 8px;
  background-image: url("../images/ices/pagination-arrow.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 6px 11px;
  transform: rotate(180deg);
  opacity: 50%;
}

.pagination-next {
  margin-left: 8px;
  background-image: url("../images/ices/pagination-arrow.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 6px 11px;
}

.pagination-list {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.pagination-link {
  display: flex;
  min-width: 24px;
  min-height: 24px;
  text-decoration: none;
  align-items: center;
  justify-content: center;
  line-height: 20px;
  color: inherit;
  border: 1px transparent;
}

.pagination-link:hover:not(.pagination-link-current) {
  background-color: rgba(252, 252, 252, 0.5);
  border-radius: 50%;
}

.pagination-link:active:not(.pagination-link-current) {
  background-color: rgba(252, 252, 252, 0.5);
  border-radius: 50%;
  border: 1px solid rgba(252, 252, 252, 1);
}

.pagination-link:focus-visible:not(.pagination-link-current) {
  background-color: rgba(252, 252, 252, 0.3);
  border-radius: 50%;
  border: 1px solid rgba(45, 52, 64, 1);
  outline: none;
}

.pagination-link-current {
  background-color: rgba(252, 252, 252, 1);
  border-radius: 50%;
}

.pagination-link-current:focus {
  outline: none;
}
